@import "reset.scss";

*{
	-webkit-box-sizing: border-box;
	-moz-box-siziing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
}

.clearfix:after {
	display:block;
	content:'';
	clear:both;
}

.title{
	text-transform: uppercase;
}

.md_title{	
	font-size: 24px;
	line-height: 28px;	
	font-weight: 600;
}

.sm_title{
	font-size: 20px;
	line-height: 24px;	
}

.descr {
	font-size: 17px;
    margin-top: 15px;
    line-height: 18px;
    color: #575050;
}

// preloader
.pre_loader{
	background: none repeat scroll 0 0 #ffffff;
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;	
	left: 0;	
	right: 0;
	top: 0;
	z-index: 9999;
	.loader{
		background-image: url("../images/loading.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-posirion: center center;
		background-color: #fff;
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		left: 50%;
		top: 50%;
		position: absolute;
	}
}

 // header_block
.header{
	background-size: cover;
	width: 100%;
	height: auto;
	display: table;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.header_title{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	padding: 10px;
	position: relative;
	h1{
		text-transform: uppercase;
		font-size: 46px;
		line-height: 105px;
		border: 4px solid #fff;
		display: inline;
		padding: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.4);
		box-shadow: 10px 10px 100px #000;
		font-weight: bold;
	}
	h2{
		font-size: 22px;
		line-height: 24px;
		text-shadow: 0px 0px 16px #171717;
	}
	.icon_down{
		position: absolute;
		bottom: 40px;
		left: calc(50% - 30px);
		border: 2px solid #fff;
		border-radius: 50%;
	}
}

// navigation block
.nav_block{
	position: fixed;
	opacity: 0;
	top: -20px;
	right: 0;
	padding: 15px 25px;
	background-color: #131212;
	box-shadow: 5px 5px 10px #322e2e;
	transition: all 0.5s;
	img{
		width: 100%;
		height: auto;
	}
	nav{
		text-align: right;
		ul li{
		display: inline-block;
		margin-right: 10px;
		a{
			display: block;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 34px;
			color: #fff;
			text-decoration: none;
			}
		}
	}	
}

.nav_block.fixed{
	position: fixed;
	opacity: 100;
	top: 0;
	z-index: 100;
    transition: all 0.5s;
 }

// sections

section{
	padding: 40px 0;
	overflow: hidden;
}

 .s_title{
 	text-transform: uppercase;
 	font-size: 34px;
 	line-height: 52px;
 	font-weight: 500;
 	text-align: center;
 	margin-bottom: 70px;
 }

 // section about

 .l_side{
 	text-align: right;
 	display: block;
 	padding: 25px 0;
 }

 .r_side{
 	text-align: left;
 	padding: 25px 0;
 }

  .info_item{
  	margin-bottom: 25px;
  }

  .icon{
  	color: #fff;
	background: #660303;
	border-radius: 50%;
	transition: all 0.5s;
  }

 .info_item .icon{
	display: block;
	float: right;	
	padding: 20px;
	font-size: 32px;
 }

  .r_side .icon{
 	float: left;
 }

.l_side .item-descr{
	padding-right: 85px;
}

.r_side .item-descr{
	padding-left: 85px;
}


.my_photo{
	text-align: center;
}

.my_photo img{
	width: 100%;
	height: auto;
}

.promo{
	min-height: 300px;
	background: transparent;
}

// section promo

.s_title_promo{
	color: #fff;
	text-align: center;
	padding-top: 80px;
	font-size: 32px;
	line-height: 34px;
	margin-bottom: 45px;
	min-height: 148px;
}

.btn{
	display: block;
	color: #fff;
	padding: 15px;
	border: 1px solid #fff;
	width: 250px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 20px;
}

.bg_color{
	background: #f5f0f0;
}

// section skills

.progressbar {
    display: inline-block;
    width: 205px;
    margin: 25px;
}
.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.circle canvas {
    vertical-align: middle;
    border: 3px solid #660303;
    border-radius: 50%;
    padding: 2px;
}
.circle div {
    position: absolute;
    top: 58px;
    left: 0px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.skill_descr{
	text-align: center;
}

// section education

.left_content{
	text-align: right;
	padding-right: 75px;
	position: relative;
	padding-bottom: 50px;
}

.right_content{
	padding-left: 75px;
}

.educ_block .left_content.last{
	padding-bottom: 100px;
}

.left_content .icon{
	font-size: 28px;
	padding: 10px;
	position: absolute;
	right: -27px;
	top: 0;
}

.bottom{
	width: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 30px
}

.s_title_promo.italic{
	font-size: 24px;
	line-height: 28px;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

// section portfolio

.w-exmpl{
	display: block;
}

.w-exmpl img{
	width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.5s;
    margin-bottom: 25px;
}

.w-exmpl:hover img{
	box-shadow: 6px 8px 23px #6f6767;
}

.w_ex{
	text-align: center;
	margin-bottom: 25px;
}

// footer 

.footer{
	background-color: #171515;
	padding-top: 40px;
}

.footer .s_title{
	color: #fff;
	border-color: #fff;
}

.callback{
	margin-bottom: 40px;
}

.callback input{
	width: 100%;
	margin-bottom: 25px;
	padding: 10px;
	background: none;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: none;
	transition: all 0.5s;
	position: relative;
}

.callback input.error{
	border-bottom: 1px solid red;
}

.callback input.right{
	border-bottom: 1px solid green;
}

::-webkit-input-placeholder {color:#b3aaaa;}
::-moz-placeholder          {color:#b3aaaa;}
:-moz-placeholder           {color:#b3aaaa;}
:-ms-input-placeholder      {color:#b3aaaa;}

.send.btn,.send.btn:focus,.send.btn:active{
	background: none;
	outline: none;
	color: #fff;
}

button.send.btn:hover{
	border-color: green;
	color: green;
}

.contacts{
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	margin-top: 20px;
}

.cont_title{
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 25px;
}

.contacts address{
	margin-bottom: 15px;
}

.contacts .fa{
	margin-right: 10px;
}

.copyright{
    text-align: center;
    color: #696262;
    font-size: 13px;
    line-height: 15px;
    padding: 12px;
    border-top: 1px solid #696262;
}

.validation_icon_name,
.validation_icon_phone,
.validation_icon_mail{
	position: absolute;
	right: 26px;
	top: 13px;
	color: #fff;
	opacity: 0;
	transition: all 0.5s;
}

.validation_icon_phone{
	top: 84px;
}

.validation_icon_mail{
	top: 160px;
}

.validation_icon_name.error,
.validation_icon_phone.error,
.validation_icon_mail.error{
	color: red;
	opacity: 100;
}

.validation_icon_name.right,
.validation_icon_phone.right,
.validation_icon_mail.right{
	color: green;
	opacity: 100;
}

// mobile menu

.mobile{
	display: none;
}

.mob_menu_icon{
	position: fixed;
    display: none;
    right: 25px;
    top: 25px;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    font-size: 30px;
    line-height: 30px;
    z-index: 1000;
    cursor: pointer;
    transition: all 1s;
}

.mob_menu {
	display: block;
	position: fixed;
	right: -70%;
	top: 0;
	background: #000000e0;
	text-align: center;
	z-index: 1001;
	transition: all 0.8s;
}

.mob_menu.show_menu {
	right: 0;
}

.mob_menu .logo{
	max-width: 250px;
	margin-bottom: 25px;
	padding: 25px;
	display: inline-block;
}

.mob_menu .logo img{
	width: 100%;
	height: auto;
}

.mob_menu li a{
	color: #fff;
	display: block;
	margin-bottom: 25px;
	font-size: 16px;
	text-decoration: none;
}

.close_btn{
	color: #fff;
	font-size: 24px;
	margin-left: 15px;
	display: inline-block;
	cursor: pointer;
}
