@import "reset.scss";

*{
	-webkit-box-sizing: border-box;
	-moz-box-siziing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	height: 3000px;
}

.clearfix:after {
	display:block;
	content:'';
	clear:both;
}

// preloader
.pre_loader{
	background: none repeat scroll 0 0 #ffffff;
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;	
	left: 0;	
	right: 0;
	top: 0;
	z-index: 9999;
	.loader{
		background-image: url("../images/loading.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-posirion: center center;
		background-color: #fff;
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		left: 50%;
		top: 50%;
		position: absolute;
	}
}

 // header_block
.header{
	background-size: cover;
	width: 100%;
	height: auto;
	display: table;
	-webkit-box-shadow: 0 8px 6px -6px black;
	 -moz-box-shadow: 0 8px 6px -6px black;
	 box-shadow: 0 8px 6px -6px black;
}

.header_title{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	padding: 10px;
	position: relative;
	h1{
		text-transform: uppercase;
		font-size: 46px;
		line-height: 105px;
		border: 4px solid #fff;
		display: inline;
		padding: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.4);
		box-shadow: 10px 10px 100px #000;
		font-weight: bold;
	}
	h2{
		font-size: 22px;
		line-height: 24px;
		text-shadow: 0px 0px 16px #171717;
	}
	.icon_down{
		position: absolute;
		bottom: 40px;
		left: calc(50% - 30px);
		border: 2px solid #fff;
		border-radius: 50%;
	}
}

// navigation block
.nav_block{
	position: static;
	top: -20px;
	background-color: rgba(11, 11, 11, 0);
	transition: all 0.3s;
	img{
		width: 100%;
		height: auto;
	}
	nav{
		text-align: right;
		ul li{
		display: inline-block;
		margin-right: 10px;
			a{
				display: block;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 94px;
				color: #000;
				text-decoration: none;
			}
		}
	}
		
}

.nav_block.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(227, 222, 222, 0.45);
	box-shadow: 10px 10px 10px #c7c2c2;
    font-size: 14px;
 }

 .nav_block.fixed .row{
 	padding: 0 150px;
 }

 section{
 	margin-top: 80px;
 }

 .s_title{
 	text-transform: uppercase;
 	font-size: 34px;
 	line-height: 52px;
 	font-weight: 500;
 	text-align: center;
 	margin-bottom: 70px;
 	color: #660303;
 	border-bottom: 2px solid #660303;
 }

 .l_side{
 	text-align: right;
 	padding: 25px 15px;
 }

 .r_side{
 	text-align: left;
 	padding: 25px 15px;
 }

  .info_item{
  	margin-bottom: 25px;
  }

 .info_item .icon{
	display: block;
	float: right;
	color: #fff;
	background: #660303;
	padding: 20px;
	border-radius: 50%;
	font-size: 32px;
	transition: all 0.5s;
 }

 .info_item .icon:hover{
 	background: #fff;
 	color: #660303;
 }

 .l_side .icon{
 	float: right;
 }

  .r_side .icon{
 	float: left;
 }

.l_side .item-descr{
	padding-right: 85px;
}

.r_side .item-descr{
	padding-left: 85px;
}

.item-descr h3{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 600;
	color:  #660303;
}

.item-descr p{
	font-size: 20px;
	line-height: 22px;
    margin-top: 15px;
    line-height: 18px;
    color: #575050;
}

.my_photo{
	text-align: center;
}

.my_photo img{
	width: 100%;
	height: auto;
}

.promo{
	min-height: 300px;
}

.s_title_promo{
	color: #fff;
	text-align: center;
	padding-top: 80px;
	font-size: 32px;
	line-height: 34px;
	margin-bottom: 45px;
}

.btn{
	display: block;
	color: #fff;
	padding: 15px;
	border: 1px solid #fff;
	width: 250px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 20px;
}

.btn:hover{
	color: #660303;
	border: 1px solid #660303;
}